:root {
    --base: #605a56;
    --light: #e8eaa1;
    --med: #80ac7b;
    --dark: #373331;
    --accent: #734444;
}
* {
    background-color: var(--base);
}

h1 {
    padding: 20px;
    color: var(--dark);
    background-color: var(--med);
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: bold;
}

nav {
    float: right;
    background-color: var(--light);
}

nav ul {
    list-style-type: none;
    background-color: var(--light);
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--light);
    color: var(--med);
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: bold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
}

.card {
    border: 2px solid;
    max-width: 500px;
    position: relative;
    text-align: center;
    color: var(--accent);
    opacity: 50%;
}

.card:hover {
    opacity: 100%;
    cursor: pointer;
}

.card p {
    color: var(--med);
    background-color: var(--light);
    padding: 10px;
    border-radius: 20px;
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 36px;
    position: absolute;
    bottom: 10px;
    right: 20px;

}

.card img {
    max-height: 500px;
    max-width: 500px;
}