:root {
    --base: #605a56;
    --light: #e8eaa1;
    --med: #80ac7b;
    --dark: #373331;
    --accent: #734444;
}
* {
    background-color: var(--base);
}

h1 {
    font-size: 60px;
    padding: 20px;
    color: var(--dark);
    background-color: var(--med);
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: bold;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}

.mantra {
    font-size: 18px;
    padding: 20px;
    color : var(--light);
    background-color: var(--med);
    flex-wrap: wrap;
}

nav {
    background-color: var(--light);
}

nav ul {
    list-style-type: none;
    background-color: var(--light);
}

nav ul li {
    display: inline-block;
    background-color: var(--light);
    color: var(--med);
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: bold;
    padding: 20px;
}

nav ul a {
    display: inline-block;
    background-color: var(--light);
    color: var(--med);
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: bold;
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1600px;
}

.card {
    border: 2px solid;
    max-width: 500px;
    position: relative;
    justify-content: center;
    text-align: center;
    color: var(--dark);
    opacity: 50%;
    flex: 0 0 20%;
}

.card:hover {
    opacity: 100%;
    cursor: pointer;
}

.card p {
    color: var(--med);
    background-color: var(--light);
    padding: 10px;
    border-radius: 20px;
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 36px;
    position: absolute;
    bottom: 5px;
    right: 5px;

}

.card img {
    max-height: 500px;
    max-width: 500px;
}

.card1 {
    border: 2px solid;
    max-width: 500px;
    position: relative;
    justify-content: center;
    text-align: center;
    color: var(--dark);
    opacity: 50%;
    flex: 0 0 80%;
}

.card1:hover {
    opacity: 100%;
    cursor: pointer;
}

.card1 p {
    color: var(--med);
    background-color: var(--light);
    padding: 10px;
    border-radius: 20px;
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 36px;
    position: absolute;
    bottom: 5px;
    right: 5px;

}

.aboutme {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

.aboutme img {
    max-height: 400px;
    margin: 5%;
}

h2 {
    color: var(--dark);
}
.aboutme p {
    font-size: 15px;
    color: var(--med);
    background-color: var(--light);
    flex-wrap: wrap;
    max-width: 40%;
    padding: 20px;
}

.aboutme .accent-text {
    font-style: bold;
    font-size: 20px;
    color: var(--accent);
    background-color: var(--light);
}

.contact {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.contact p {
    background-color: var(--light);
    color: var(--med)

}

.contact ul {
    display: inline-block;
    background-color: var(--light);
    color: var(--med);
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: bold;
}

.contact li {
    background-color: var(--light);
    color: var(--med);
    font-family: 'Helvetica', 'Ariel', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: bold;
}